{% extends "base.html" %} {% load humanize %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="d-flex justify-content-between">
            <h4 class="card-title mb-0">Home Page</h4>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <hr class="w-100">
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--success">
        <div class="card-inner">
            <h5 class="card-title">Kategori</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ kategori|intcomma }}</h5>
            <p class="tx-12 text-muted">Kategori yang ada</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">list</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--primary">
        <div class="card-inner">
            <h5 class="card-title">Barang</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ barang |intcomma }}</h5>
            <p class="tx-12 text-muted">Barang yang ada</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">list</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--info">
        <div class="card-inner">
            <h5 class="card-title">Transaksi hari ini</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ transaksi|intcomma }}</h5>
            <p class="tx-12 text-muted">Total transaksi hari ini</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">receipt</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--warning">
        <div class="card-inner">
            <h5 class="card-title">Penjualan hari ini</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">Rp{{ total_penjualan|intcomma }}</h5>
            <p class="tx-12 text-muted">Total penjualan hari ini</p>
            <div class="card-icon-wrapper">
                <i class="mdi mdi-cash-multiple"></i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--danger">
        <div class="card-inner">
            <h5 class="card-title">Penghutang hari ini</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ hutang|intcomma }} orang</h5>
            <p class="tx-12 text-muted">Jumlah penghutang hari ini</p>
            <div class="card-icon-wrapper">
                <i class="mdi mdi-cash-multiple"></i>
            </div>
        </div>
    </div>
</div>
{% endblock pageContent %}